  
  
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="notification()">
      <ion-icon name="notifications-circle-outline"></ion-icon>

    </ion-button>
    <ion-button (click)="searchmodal()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary" (click)="openmenu()">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>99 Seller</ion-title>
</ion-toolbar>



